<% if submissions.present? %>
<div class="bg-white px-4 py-3 flex items-center justify-between border-t border-gray-200 sm:px-6">
  <div>
    <%= page_entries_info data , entry_name: name %>
  </div>
  <div>
    <%= paginate data %>
  </div>
</div>
<% end %>