<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hello <%= @email %></h3>
    <p>
      Anda menerima pesan ini karena Anda telah meminta pengaturan ulang kata sandi Anda di Aplikasi SI-PILOT.
    </p>
    <p>Harap masukkan kode verifikasi ini:</p>
    <h4><%= @code %></h4>
    <p>Terima kasih</p>
  </body>
</html>
