<div class="bg-white animate__animated animate__fadeIn" id="visi-n-misi">
  <div class="max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:py-24 lg:px-8">
    <div class="max-w-3xl mx-auto text-center">
      <h2 class="text-3xl font-extrabold text-gray-900">Visi dan Misi</h2>
    </div>
    <dl class="mt-12 space-y-10 sm:space-y-0 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-12 lg:grid-cols-3 lg:gap-x-8">
      <div class="flex">
        <!-- Heroicon name: check -->
        <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
        </svg>
        <div class="ml-3">
          <dt class="text-lg leading-6 font-medium text-gray-900">
            SDM
          </dt>
          <dd class="mt-2 text-base text-gray-500">
            Meningkatan Kualitas SDM / Aparatur Kantor Pertanahan yang profesional.
          </dd>
        </div>
      </div>

      <div class="flex">
        <!-- Heroicon name: check -->
        <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
        </svg>
        <div class="ml-3">
          <dt class="text-lg leading-6 font-medium text-gray-900">
            Pelayanan
          </dt>
          <dd class="mt-2 text-base text-gray-500">
            Meningkatan Pelayanan pendaftaran tanah dan menyelesaikan sengketa, konflik dan perkara pertanahan.
          </dd>
        </div>
      </div>

      <div class="flex">
        <!-- Heroicon name: check -->
        <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
        </svg>
        <div class="ml-3">
          <dt class="text-lg leading-6 font-medium text-gray-900">
            Pengoptimalan
          </dt>
          <dd class="mt-2 text-base text-gray-500">
            Mengoptimalkan kebijakan pertanahan yang berkaitan dengan penguasaan, pemilikan, penggunaan dan pemanfaatan tanah yang mengacu pada Tata Ruang Wilayah.
          </dd>
        </div>
      </div>

      <div class="flex">
        <!-- Heroicon name: check -->
        <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
        </svg>
        <div class="ml-3">
          <dt class="text-lg leading-6 font-medium text-gray-900">
            Infrastruktur
          </dt>
          <dd class="mt-2 text-base text-gray-500">
            Meningkatan Infrastruktur yang berkaitan dengan pelayanan pertanahan.
          </dd>
        </div>
      </div>

      <div class="flex">
        <!-- Heroicon name: check -->
        <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
        </svg>
        <div class="ml-3">
          <dt class="text-lg leading-6 font-medium text-gray-900">
            Sistem Informasi
          </dt>
          <dd class="mt-2 text-base text-gray-500">
            Mengembangkan dan membangun sistem informasi serta tata kelola pengamanan dokumen.
          </dd>
        </div>
      </div>

      <div class="flex">
        <!-- Heroicon name: check -->
        <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
        </svg>
        <div class="ml-3">
          <dt class="text-lg leading-6 font-medium text-gray-900">
            Pelayanan
          </dt>
          <dd class="mt-2 text-base text-gray-500">
            Terciptanya perubahan menuju pelayanan prima.
          </dd>
        </div>
      </div>
    </dl>
  </div>
</div>