<div class="relative pt-16 bg-white overflow-hidden">
  <div class="hidden lg:block lg:absolute lg:inset-y-0 lg:h-full lg:w-full">
    <div class="relative h-full text-lg max-w-prose mx-auto" aria-hidden="true">
      <svg class="absolute top-12 left-full transform translate-x-32" width="404" height="384" fill="none" viewBox="0 0 404 384">
        <defs>
          <pattern id="74b3fd99-0a6f-4271-bef2-e80eeafdf357" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
          </pattern>
        </defs>
        <rect width="404" height="384" fill="url(#74b3fd99-0a6f-4271-bef2-e80eeafdf357)" />
      </svg>
      <svg class="absolute top-1/2 right-full transform -translate-y-1/2 -translate-x-32" width="404" height="384" fill="none" viewBox="0 0 404 384">
        <defs>
          <pattern id="f210dbf6-a58d-4871-961e-36d5016a0f49" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
          </pattern>
        </defs>
        <rect width="404" height="384" fill="url(#f210dbf6-a58d-4871-961e-36d5016a0f49)" />
      </svg>
      <svg class="absolute bottom-12 left-full transform translate-x-32" width="404" height="384" fill="none" viewBox="0 0 404 384">
        <defs>
          <pattern id="d3eb07ae-5182-43e6-857d-35c643af9034" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
          </pattern>
        </defs>
        <rect width="404" height="384" fill="url(#d3eb07ae-5182-43e6-857d-35c643af9034)" />
      </svg>
    </div>
  </div>
  <div class="relative px-4 sm:px-6 lg:px-8">
    <div class="text-lg max-w-prose mx-auto">
      <h1>
        <span class="mt-2 block text-3xl text-center leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">Kebijakan Privasi</span>
      </h1>
      <p class="mt-8 text-base text-gray-500 leading-8 text-justify">
        SI-PILOT merupakan suatu aplikasi yang dibangun untuk meringankan dan mempermudah kegiatan pra pelayanan di Kantor Pertanahan. Kegiatan pra pelayanan yang dimaksud adalah validasi data pertanahan secara mudah, cepat, terintegrasi dan berbasis digital.</br>
        Halaman ini digunakan untuk memberi tahu pengunjung mengenai kebijakan kami dengan pengumpulan, penggunaan, dan pengungkapan Informasi Pribadi jika ada yang memutuskan untuk menggunakan Layanan kami.</br>
        Jika Anda memilih untuk menggunakan Layanan kami, maka Anda menyetujui pengumpulan dan penggunaan informasi sehubungan dengan kebijakan ini. Informasi Pribadi yang kami kumpulkan digunakan untuk menyediakan dan meningkatkan Layanan. kami tidak akan menggunakan atau membagikan informasi Anda dengan siapa pun kecuali seperti yang dijelaskan dalam Kebijakan Privasi ini.</br>
        Istilah yang digunakan dalam Kebijakan Privasi ini memiliki arti yang sama seperti dalam Syarat dan Ketentuan kami, yang dapat diakses di aplikasi SI-PILOT kecuali ditentukan lain dalam Kebijakan Privasi ini.
      </p>
    </div>
  </div>
</div>

<div class="relative py-3 bg-white overflow-hidden">
  <div class="relative px-4 sm:px-6 lg:px-8">
    <div class="text-lg max-w-prose mx-auto">
      <h1>
        <span class="mt-2 block text-xl text-center font-extrabold tracking-tight text-gray-900 sm:text-xl">Akses dan koreksi informasi pribadi</span>
      </h1>
      <p class="mt-8 text-base text-gray-500 leading-8 text-justify">
        Dengan tunduk pada peraturan perundang-undangan yang berlaku, Anda dapat meminta Kami untuk mengakses, mengoreksi, dan memperbarui Informasi Pribadi Anda yang berada dalam penguasaan Kami, dengan menghubungi Kami di sipilotproject@gmail.com. </br>
        Kami berhak menolak permintaan Anda untuk memperbaiki sebagian atau semua Informasi Pribadi Anda yang Kami miliki atau kuasai jika diizinkan atau diperlukan berdasarkan perundang-undangan yang berlaku. Hal ini termasuk dalam keadaan di mana Informasi Pribadi tersebut dapat berisi referensi kepada orang lain atau ketika permintaan untuk mengakses atau mengoreksi tersebut adalah untuk alasan yang kami anggap tidak relevan, tidak serius, atau menyulitkan. Sebaliknya, Kami dapat menghapus Informasi Pribadi sesuai kebijaksanaan Kami, sehingga Anda harus melakukan pencatatan secara mandiri , dan tidak bergantung pada penyimpanan Informasi Pribadi atau data lainnya yang kami miliki.
      </p>
    </div>
  </div>
</div>

<div class="relative py-3 bg-white overflow-hidden">
  <div class="relative px-4 sm:px-6 lg:px-8">
    <div class="text-lg max-w-prose mx-auto">
      <h1>
        <span class="mt-2 block text-xl text-center font-extrabold tracking-tight text-gray-900 sm:text-xl">Pengumpulan dan Penggunaan Informasi</span>
      </h1>
      <p class="mt-8 text-base text-gray-500 leading-8 text-justify">
        Untuk pengalaman yang lebih baik, saat menggunakan Layanan kami, kami mungkin meminta Anda untuk memberikan kami informasi identitas pribadi tertentu, termasuk namun tidak terbatas pada Nama, alamat email, lokasi, nama perangkat, jenis perangkat, versi Android. Informasi yang kami minta akan disimpan di perangkat Anda dan tidak kami kumpulkan dengan cara apa pun.</br>
        Aplikasi memang menggunakan layanan pihak ketiga yang dapat mengumpulkan informasi yang digunakan untuk mengidentifikasi Anda.</br>
        Tautan ke kebijakan privasi penyedia layanan pihak ketiga yang digunakan oleh aplikasi</br>

        <b>Layanan Google Play</b>,
        <b>Firebase Analytics</b>,
        <b>Fabric</b>,
        <b>Crashlytics</b>,
        <b>Log Data</b>

        </br>
        kami ingin memberi tahu Anda bahwa setiap kali Anda menggunakan Layanan kami, jika terjadi kesalahan dalam aplikasi, kami mengumpulkan data dan informasi (melalui produk pihak ketiga) di ponsel Anda yang disebut Data Log. Data Log ini dapat mencakup informasi seperti alamat Protokol Internet ("IP") perangkat Anda, nama perangkat, versi sistem operasi, konfigurasi aplikasi saat menggunakan Layanan kami, waktu dan tanggal penggunaan Anda atas Layanan, dan statistik lainnya.
      </p>
    </div>
  </div>
</div>

<div class="relative py-3 bg-white overflow-hidden">
  <div class="relative px-4 sm:px-6 lg:px-8">
    <div class="text-lg max-w-prose mx-auto">
      <h1>
        <span class="mt-2 block text-xl text-center font-extrabold tracking-tight text-gray-900 sm:text-xl">Cookies</span>
      </h1>
      <p class="mt-8 text-base text-gray-500 leading-8 text-justify">
        Cookie adalah file dengan sejumlah kecil data yang biasanya digunakan sebagai pengenal unik anonim. Ini dikirim ke browser Anda dari situs web yang Anda kunjungi dan disimpan di memori internal perangkat Anda.</br>
        Layanan ini tidak menggunakan "cookie" ini secara eksplisit. Namun, aplikasi dapat menggunakan kode dan pustaka pihak ketiga yang menggunakan "cookie" untuk mengumpulkan informasi dan meningkatkan layanan mereka. Anda memiliki opsi untuk menerima atau menolak cookie ini dan mengetahui kapan cookie dikirim ke perangkat Anda. Jika Anda memilih untuk menolak cookie kami, Anda mungkin tidak dapat menggunakan beberapa bagian dari Layanan ini.
      </p>
    </div>
  </div>
</div>

<div class="relative py-3 bg-white overflow-hidden">
  <div class="relative px-4 sm:px-6 lg:px-8">
    <div class="text-lg max-w-prose mx-auto">
      <h1>
        <span class="mt-2 block text-xl text-center font-extrabold tracking-tight text-gray-900 sm:text-xl">Penyedia Jasa</span>
      </h1>
      <p class="mt-8 text-base text-gray-500 leading-8 text-justify">
        Kami dapat mempekerjakan perusahaan pihak ketiga dan individu karena alasan berikut: </br>

        Untuk memfasilitasi Layanan kami;</br>
        Untuk menyediakan Layanan atas nama kami;</br>
        Untuk melakukan layanan terkait Layanan; atau</br>
        Untuk membantu kami dalam menganalisis bagaimana Layanan kami digunakan.</br>
        kami ingin memberi tahu pengguna Layanan ini bahwa pihak ketiga ini memiliki akses ke Informasi Pribadi Anda. Alasannya adalah untuk melakukan tugas yang diberikan kepada mereka atas nama kami. Namun, mereka berkewajiban untuk tidak mengungkapkan atau menggunakan informasi tersebut untuk tujuan lain apa pun.
      </p>
    </div>
  </div>
</div>

<div class="relative py-3 bg-white overflow-hidden">
  <div class="relative px-4 sm:px-6 lg:px-8">
    <div class="text-lg max-w-prose mx-auto">
      <h1>
        <span class="mt-2 block text-xl text-center font-extrabold tracking-tight text-gray-900 sm:text-xl">Keamanan</span>
      </h1>
      <p class="mt-8 text-base text-gray-500 leading-8 text-justify">
        kami menghargai kepercayaan Anda dalam memberikan Informasi Pribadi Anda kepada kami, oleh karena itu kami berusaha untuk menggunakan cara yang dapat diterima secara komersial untuk melindunginya. Tetapi ingat bahwa tidak ada metode transmisi melalui internet, atau metode penyimpanan elektronik yang 100% aman dan dapat diandalkan, dan kami tidak dapat menjamin keamanan absolutnya bila terjadi sesuatu dikemudian hari.
      </p>
    </div>
  </div>
</div>

<div class="relative py-3 bg-white overflow-hidden">
  <div class="relative px-4 sm:px-6 lg:px-8">
    <div class="text-lg max-w-prose mx-auto">
      <h1>
        <span class="mt-2 block text-xl text-center font-extrabold tracking-tight text-gray-900 sm:text-xl">Tautan ke Situs Lain</span>
      </h1>
      <p class="mt-8 text-base text-gray-500 leading-8 text-justify">
        Layanan ini mungkin berisi tautan ke situs lain. Jika Anda mengklik tautan pihak ketiga, Anda akan diarahkan ke situs itu. Perhatikan bahwa situs eksternal ini tidak dioperasikan oleh kami. Oleh karena itu, kami sangat menyarankan Anda untuk meninjau Kebijakan Privasi situs web ini. kami tidak memiliki kendali atas dan tidak bertanggung jawab atas konten, kebijakan privasi, atau praktik situs atau layanan pihak ketiga mana pun.
      </p>
    </div>
  </div>
</div>

<div class="relative py-3 bg-white overflow-hidden">
  <div class="relative px-4 sm:px-6 lg:px-8">
    <div class="text-lg max-w-prose mx-auto">
      <h1>
        <span class="mt-2 block text-xl text-center font-extrabold tracking-tight text-gray-900 sm:text-xl">Privasi Anak-anak</span>
      </h1>
      <p class="mt-8 text-base text-gray-500 leading-8 text-justify">
        Layanan ini tidak ditujukan kepada siapa pun yang berusia di bawah 13 tahun. kami tidak dengan sengaja mengumpulkan informasi yang dapat diidentifikasi secara pribadi dari anak-anak di bawah 13 tahun. Jika kami menemukan bahwa seorang anak di bawah 13 tahun telah memberi kami informasi pribadi, kami segera menghapusnya dari server kami. Jika Anda adalah orang tua atau wali dan Anda mengetahui bahwa anak Anda telah memberi kami informasi pribadi, silakan hubungi kami sehingga kami dapat melakukan tindakan yang diperlukan.
      </p>
    </div>
  </div>
</div>

<div class="relative py-3 bg-white overflow-hidden">
  <div class="relative px-4 sm:px-6 lg:px-8">
    <div class="text-lg max-w-prose mx-auto">
      <h1>
        <span class="mt-2 block text-xl text-center font-extrabold tracking-tight text-gray-900 sm:text-xl">Perubahan Kebijakan Privasi</span>
      </h1>
      <p class="mt-8 text-base text-gray-500 leading-8 text-justify">
        kami dapat memperbarui Kebijakan Privasi kami dari waktu ke waktu. Dengan demikian, Anda disarankan untuk meninjau halaman ini secara berkala untuk setiap perubahan. kami akan memberi tahu Anda tentang perubahan apa pun dengan memposting Kebijakan Privasi baru di halaman ini. Perubahan ini efektif segera setelah diposting di halaman ini.
      </p>
    </div>
  </div>
</div>

<div class="relative py-3 bg-white overflow-hidden">
  <div class="relative px-4 sm:px-6 lg:px-8">
    <div class="text-lg max-w-prose mx-auto">
      <h1>
        <span class="mt-2 block text-xl text-center font-extrabold tracking-tight text-gray-900 sm:text-xl">Hubungi Kami</span>
      </h1>
      <p class="mt-8 text-base text-gray-500 leading-8 text-justify">
        Kebijakan ini merupakan bagian dari dan dilengkapi dengan syarat penggunaan yang Kami terapkan. Apabila situs Kami sedang dalam gangguan atau jika ada pertanyaan lain mengenai Kebijakan Privasi ini atau apabila Anda ingin memperbarui Informasi Pribadi Anda, maka Anda dapat menghubungi kami ke alamat email kami sebagai berikut: sipilotproject@gmail.com
      </p>
    </div>
  </div>
</div>
