<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Permohonan Selesai - (<%= @submission_id %>) - SI-PILOT</h1>
    <p>
        Mohon segera ke kantor untuk mengambil berkas permohonan yang diajukan, dengan membawa sertipikat asli 
    </p>
    <p>Terima kasih</p>
  </body>
</html>
